@font-face {
    font-family: 'UF_Odyssey';
    src: url('../assets/font/UF_Odyssey-Bold.ttf');
}

.mainContainer {
  //display: flex;
  //flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bullet {
  max-height: 55px;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  width: 100%;
  /*height: 92%;*/
}

.gameRegion {
  background-color: black;
  background: url('../assets/images/BG.png') top/auto 100% repeat-x;
  width: 100%;
  max-width: 50rem;
  height: 100%;

  .generate-bullets {
    height: 90vh;
  }
}

.playerRegion {
  position: relative;
  width: 100%;
  height: 10%;
  .player{
    bottom: 0;
  }
}

.player {
  position: absolute;
}

.playerImage {
  height: 90px;
}
.controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: coral;
  width: 20%;
  height: 100%;
}

.playButton {
  width: 80%;
  margin: 1rem;
}
.test > div > div > div {
  font-family: UF_Odyssey !important;
  padding: 10px !important;
  background: #e91448 !important;
  border: solid 5px black !important;
  border-radius: 3px !important;
  margin-bottom: 10px !important;
}
